<div class="container d-flex">
  <div style="margin-right: 40px;">
    <h3>現有類別</h3>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    {{#each categories}}
    <div class="col mb-2">
      <div class="d-flex align-items-center">
        <div class="mb-2" style="font-size: 40px; color: tomato;">
          {{{ this.categoryIcon }}}
        </div>
        <div>
          <h5 class="card-title">{{ this.category }}</h5>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div class="container d-flex" style="margin-top: 100px;">
  <div style="margin-right: 40px;">
    <h3>新增類別</h3>
  </div>
  <form action="/categories" method="POST">
    <div class="form-group row">
      <label class="col-4 d-flex align-items-center" for="inputName">類別名稱*：</label>
      <input name="name" id="inputName" type="text" class="form-control col-8 formInput" required>
    </div>
    <div class="row row-cols-1 row-cols-md-3" aria-required="true">
      {{#each icons}}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="iconSelection" id="{{ this.name }}"
          value="{{ this.htmlTag }}">
        <label class="form-check-label" for="{{ this.name }}">
          {{{ this.htmlTag }}}
        </label>
      </div>

      {{!-- <div class="custom-control custom-radio">
        <input type="radio" id="{{ this.name }}" name="formRadio" class="custom-control-input" value="{{ this.name }}">
        <label class="custom-control-label" for="{{ this.name }}"><i class="{{ this.icon }}"></i></label>
      </div> --}}
      {{/each}}
      <button type="submit">新增類別</button>
  </form>

</div>