<div class="container d-flex">
  <div class="col-3">
    <h3>現有類別</h3>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    {{#each categories}}
    <div class="col mb-2 d-flex justify-content-between align-items-center">
      <div class="col-8 d-flex align-items-center" style="padding: 0px;">
        <div class="mb-2 col-4" style="font-size: 40px; color: tomato; padding: 0px;">
          {{{ this.categoryIcon }}}
        </div>
        <div style="padding-left: 10px;">
          <span class="card-title">{{ this.category }}</span>
        </div>
      </div>
      <form class="col-4" action="./categories/{{ this._id }}?_method=DELETE" method="POST"
        style="display: inline; padding: 0px;">
        <button type="submit" style="background-color: transparent; border: 0px; padding-left: 30px;">刪除</button>
      </form>
    </div>
    {{/each}}
  </div>
</div>

<div class="container d-flex" style="margin-top: 100px;">
  <div class="col-3">
    <h3>新增類別</h3>
  </div>
  <div class="col-9">
    <form action="/categories" method="POST">
      <div class="form-group row">
        <label class="d-flex align-items-center" for="inputName" style="margin-right: 20px;">類別名稱*：</label>
        <input name="name" id="inputName" type="text" class="form-control col-4 formInput" required>
      </div>
      <div class="form-group row row-cols-1 row-cols-md-4">
        {{#each icons}}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="iconSelection" id="{{ this.name }}"
            value="{{ this.htmlTag }}">
          <label class="form-check-label" for="{{ this.name }}">
            {{{ this.htmlTag }}}
          </label>
        </div>
        {{/each}}
      </div>
      <div class="form-group row">
        <button class="urlBtn" type="submit">新增類別</button>
      </div>
    </form>
  </div>


</div>