<form action="/" method="GET">
  <select name="filter" class="form-control" onchange="this.form.submit()">
    {{#if selectedFilter}}<option>{{selectedFilter}}</option>{{/if}}
    <option value="">所有支出</option>
    {{#each categories}}
    <option value="{{ this.categoryName }}">{{ this.categoryName }}</option>
    {{/each}}
  </select>
</form>

<p>總金額：{{ totalAmount }}</p>

<ul>
  {{#each records}}
  <li>
    {{ this.name }}, {{ this.categoryName }}, {{ this.amount }}, {{ this.date }}, {{ this.categoryIcon }}
    <a href="./records/{{ this._id }}/edit">修改</a>
    <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
      <button type="submit">刪除</button>
    </form>
  </li>
  {{/each}}
</ul>

<a href=" ./records/new">新增支出</a>