<div class="container d-flex flex-column align-items-start">
  <div class="container d-flex justify-content-around">
    <div class="filter col-6">
      <form action="/" method="GET">
        <select name="filter" class="form-control" onchange="this.form.submit()">
          {{#if selectedFilter}}<option value={{ selectedFilter }}>{{ selectedFilter }}</option>{{/if}}
          <option value="所有支出">所有支出</option>
          {{#each categories}}
          <option value="{{ this.category }}">{{ this.category }}</option>
          {{/each}}
        </select>
      </form>
    </div>
    <div class="d-flex align-items-center">
      <a class="urlBtn" href="/categories">管理類別</a>
    </div>
  </div>

  <div class="totalAmount col-5 mt-3 d-flex justify-content-between">
    <span>總金額：</span>
    <h1 style="display: inline; color: Tomato; font-size: 56px;">{{ totalAmount }}</h1>
  </div>

  <div class="container">
    <ul id="records" class="list-group col-10">
      {{#each records}}
      <li class="list-group-item" style="padding: 0px; border: 0px; display: inline;">
        <div class="recordContainer d-flex justify-content-between">
          <div class="recordInfo d-flex col-9 justify-content-between" style="padding: 10px 20px;">
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-center" style="font-size: 30px; color: Tomato; width: 60px;">
                {{{ this.categoryIcon }}}</div>
              <div class="d-flex flex-column justify-content-center ml-1">
                <span style="font-size: 16px;">{{ this.name }}</span>
                <span style="font-size: 9px;">{{ this.date }}</span>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <span>{{ this.amount }}</span>
            </div>
          </div>
          <div class="functions d-flex align-items-center" style="display: inline;">
            <a class="mr-2" href="./records/{{ this._id }}/edit" style="color: black;">修改</a>
            <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" style="background-color: transparent; border: 0px;">刪除</button>
            </form>
          </div>
        </div>

      </li>
      {{/each}}
    </ul>
  </div>

  <div class="mt-4 ml-2">
    <a class="urlBtn" href=" ./records/new">新增支出</a>
  </div>
</div>