<ul>
  {{#each records}}
  <li>
    {{this.name}}, {{this.category}}, {{this.amount}}, {{this.date}}, {{this.categoryIcon}}
    <a href="./records/{{ this._id }}/edit">修改</a>
  </li>
  {{/each}}
</ul>

<a href="./records/new">新增支出</a>